[Unit]
Description=Configure static interfaces
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/network-static.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
